

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
      <title>Blockchain-HUB</title>
      <meta content="Admin Dashboard" name="description">
      <meta content="Themesbrand" name="author">
      <link rel="shortcut icon" href="/vertical/assets/images/favicon.ico">
      <link href="/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/vertical/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
      <link href="/vertical/assets/css/icons.css" rel="stylesheet" type="text/css">
      <link href="/vertical/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

   </head>
   <body>
      <!-- Begin page -->
      <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <!-- <a href="index.html" class="logo"><span><img src="/vertical/assets/images/logo-light.png" alt="" height="18"> </span><i>
                        <img src="/vertical/assets/images/logo-sm.png" alt="" height="22"></i></a> -->
                </div>
                <nav class="navbar-custom">
                    <ul class="navbar-right d-flex list-inline float-right mb-0">
                        <li class="dropdown notification-list d-none d-sm-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown notification-list"><a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><i class="ti-bell noti-icon"></i> <span class="badge badge-pill badge-danger noti-icon-badge">3</span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                                <!-- item-->
                                <h6 class="dropdown-item-text">Notifications (258)</h6>
                                <div class="slimscroll notification-item-list">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                        <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                    </a>
                                </div>
                                <!-- All--><a href="javascript:void(0);" class="dropdown-item text-center text-primary">View all <i class="fi-arrow-right"></i></a></div>
                        </li>
                        <li class="dropdown notification-list">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="/vertical/assets/images/users/user-4.jpg" alt="user" class="rounded-circle"></a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                    <!-- item--><a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a> <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a> <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i> Settings</a> <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
                        </li>
                        <li class="d-none d-sm-block">
                            <div class="dropdown pt-3 d-inline-block"><a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a></div>
                            </div>
                        </li>
                    </ul>
                </nav>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Quản Lý</li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-hospital-building"></i><span> RSS - Data <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                            <ul class="submenu">
                                <li><a href="/danh-sach-ho-so">Danh Sách Item</a></li>
                                <li><a href="/tim-kiem">Tìm Kiếm - Lưu Trữ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
         <!-- Left Sidebar End --><!-- ============================================================== --><!-- Start right Content here --><!-- ============================================================== -->
         <div class="content-page">
            <!-- Start content -->
            <div class="content">
               <div class="container-fluid">
                  <!-- end row -->
                  <div class="row">
                    <div class="col-12">
                       <div class="card m-b-20">
                          <div class="card-body">
                             <h4 class="mt-0 header-title">Tìm Kiếm</h4>
                             <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Danh Mục</label>
                                <div class="col-sm-10">
                                   <select class="custom-select" id="SelectCategory">
                                      <option value="https://vnexpress.net/rss/the-gioi.rss">Tin Thế Giới</option>
                                      <option value="https://vnexpress.net/rss/giai-tri.rss">Giải Trí</option>
                                      <option value="https://vnexpress.net/rss/the-thao.rss">Thể Thao</option>
                                      <option value="https://vnexpress.net/rss/phap-luat.rss">Pháp Luật</option>
                                      <option value="https://vnexpress.net/rss/giao-duc.rss">Giáo Dục</option>
                                      <option value="https://vnexpress.net/rss/kinh-doanh.rss">Kinh Doanh</option>
                                   </select>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- end col -->
                 </div>

                 <div class="row">
                        <!-- end col -->
                        <div class="col-lg-12">
                           <div class="card m-b-20">
                              <div class="card-body">
                                 <div class="row">
                                     <div class="col-md-10">
                                           <h4 class="mt-0 header-title">Danh Sách ITEM RSS</h4>
                                     </div>
                                 </div>
                                 <p class="text-muted m-b-30">Danh Sách <strong style="margin-left:5px" id="titleCategory"></strong></p>
                                 <table class="table table-dark mb-0">
                                    <thead>
                                       <tr>
                                          <th>#</th>
                                          <th>Tiêu Đề</th>
                                          <th>Trạng Thái</th>
                                          <th>Link</th>
                                          <th>Nội Dung</th>
                                          <th>Ngày Đăng</th>
                                       </tr>
                                    </thead>
                                    <tbody id="renderRssCategory">
                                     
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <!-- end col -->
                     </div>
               </div>
               <!-- container-fluid -->
            </div>
            <!-- content -->
            <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
         </div>
         <!-- ============================================================== --><!-- End Right content here --><!-- ============================================================== -->
      </div>
      <script src="/vertical/assets/js/jquery.min.js"></script><script src="/vertical/assets/js/bootstrap.bundle.min.js"></script><script src="/vertical/assets/js/metisMenu.min.js"></script><script src="/vertical/assets/js/jquery.slimscroll.js"></script><script src="/vertical/assets/js/waves.min.js"></script><script src="../plugins/jquery-sparkline/jquery.sparkline.min.js"></script><!-- App js --><script src="/vertical/assets/js/app.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/vi.js"></script>
     <script>
          $(document).ready(function(){
            
              $('#SelectCategory').change(function(){
                    const linkCATEGORY = $(this).val();
                    const url = `/find-category?linkCategory=${linkCATEGORY}`;
                    console.log({ url });
                    $.ajax({
                        url: url,
                        method: 'GET',
                        success: function(resp) {
                            if (resp.error) {
                                
                                return toastr.error('Lấy RSS Thất Bại');
                            }
                            toastr.info('Cập nhật thông tin RSS Thành Công')
                            const data = resp.data;
                            $('#titleCategory').text(data.title);

                            var flagForShowColor = 0;
                            data.items.forEach(item => {
                                let timeDate = moment(item.createAt).format('L');

                                $('#renderRssCategory').append(`
                                <tr>
                                            <th scope="row">${flagForShowColor}</th>
                                            <td>${item.title}</td>
                                            <td>
                                                    <span class="badge badge-pill badge-success">Đang Hoạt Động</span>
                                            </td>
                                            
                                            <td>
                                                <a href="${item.link}" target="blank"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Xem Chi tiết">${item.link}</a>
                                            </td>

                                            <td>${item.contentSnippet.substring(0, 30)} ..</td>

                                            <td>${timeDate}</td>

                                        </tr>
                                `);
                                flagForShowColor++;
                                
                            })

                        },
                        error: function(err) {
                            console.log(err)
                        }
                })
              })
         
        })
    </script>
    </body>
</html>

